<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - Java Exercises</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>

    <div class="container">

        <h1>Welcome in Java Spring Exercises Application.</h1>
        <p>The application is made to practice various interesting programming tasks.</p>
        <p>You can jump to individual tasks below.</p>

        <div class="btn-home-container">
            <a href="/rental-app">
                <button>Rental App</button>
            </a>
            <a href="/lottery">
                <button>Lottery</button>
            </a>
            <a href="/sudoku">
                <button>Sudoku</button>
            </a>
            <button>Button 4</button>
            <button>Button 5</button>
            <button>Button 6</button>
            <button>Button 7</button>
            <button>Button 8</button>
            <button>Button 9</button>
        </div>

    </div>



</body>
</html>